[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:nuwandavek/hugo-theme-cactus.git
[submodule "build"]
	path = build
	url = git@github.com:MerwaneBouri/MerwaneBouri.github.io.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
